@import 'tailwindcss';
@import '@nuxt/ui';

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

:root {
  --ui-header-height: 10vh;
  --ui-container: 100%;
  --ui-footer-height: var(--ui-header-height);
  --ui-main-height: calc(100vh - var(--ui-header-height) - var(--ui-footer-height));
  font-size: clamp(0.75rem, 0.5rem + 0.5vw, 1.5rem);
  scroll-behavior: smooth;
}

body {
  /* overflow-x: hidden; */
  overflow-y: hidden;
}

/* #__nuxt {
  overflow: auto;
} */

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
  z-index: 100;
  /* display: none; */
}

::-webkit-scrollbar-track {
  background-color: var(--color-neutral-500);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-800);
}

/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(12px);
  filter: blur(8px);
}

/* Layout Transitions */
.layout-enter-active,
.layout-leave-active {
  transition: all 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  filter: blur(12px);
}
